#Error{

	

	background-repeat:no-repeat;

	background-position:left; 

	color:#FF0000; 

	padding-left:33px; 

	height:19px; 

	padding-top:6px;

	padding-right:10px;

	}

#Success{

	

	background-repeat:no-repeat;

	background-position:left; 

	color:#669933; 

	padding-left:33px; 

	height:19px; 

	padding-top:6px;

	padding-right:10px;

	}